/lumeavenv
/bdd
.env
**/__pycache__/
app/__pycache__/
db/
db_source/
*.lock
*.wt
*.ns
*.log
/etl/extract/google-chrome-stable_current_amd64.deb
/etl/extract/__pycache__/
/etl/transform/__pycache__/
/etl/data/
/load/.gitattributes